
.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    background-image: url("../images/ressources/10 copie.png");
}

.section1Accueil {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--pink4);
}


.section3Accueil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.containerSection4Accueil {
    display: flex;
    justify-content: space-between;
}
.containerImagesSection4Accueil {
    display: flex;
    justify-content: flex-end;
}
.containerIconAtelierPhone {
    gap: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.iconAtelier {
    height: 120px;
    width: 120px;
}

.section5Accueil {
    background-color: var(--pink2);
}

.containerSection5Accueil {
    display: flex;
    justify-content: space-between;
}

.containerTexteSection5Accueil {
    width: 60%;
}

.containerImagesSection5Accueil {
    width: 40%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.section6Accueil {
    background-color: var(--pink1);
}


/* Carrousel 1 */
.swiper {
    width: 100%;
    height: 70vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    --swiper-navigation-color: var(--grey);
    --swiper-pagination-color: var(--grey);
}
.swiper-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
}
.swiper-slide{
    min-width: 25vw;
    height: 50vh;
    display: flex;
    min-height: 70%;
    max-height: 100%;
    margin-left: 1.8vw;
    margin-right: 1.8vw;
    border-radius: 25px;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
}
.imgProfilAvis {
    width: 15vh;
    height: 15vh;
    margin-top: 15%;
    margin-bottom: 2vh;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.containerContentAvisAccueil {
    display: flex;
    justify-content: center;
}
.name{
    text-align: center;
    margin-bottom: 1.5em;
}
.content{
    width: 90%;
    text-align: center;
}
.limited-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; /* Nombre de lignes à afficher avant les points de suspension */
    overflow: hidden;
}
/* fin Carrousel 1 (Animation 2) */


@media (max-width: 991px) {
    .background-image {
        min-height: 80vh;
        background-image: url("../images/ressources/Version mobile.png");
    }

    .section1Accueil {
        gap: 5em;
        align-items: start;
        flex-direction: column;
    }

    .elementsSection1Phone {
        display: flex;
        align-items: center;
    }

    .mode-phone-section1Accueil {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section3Accueil {
        gap: 5em;
        padding: 6em 0;
        flex-direction: column-reverse;
    }
    .section3AccueilTitres {
        gap: 3em;
        display: flex;
        flex-direction: column;
    }
    .containerSection4Accueil {
        flex-direction: column;
    }
    .containerImagesSection4Accueil {
        justify-content: center;
    }
    .containerSection5Accueil {
        align-items: center;
        justify-content: start;
        flex-direction: column-reverse;
    }
    .containerTexteSection5Accueil {
        width: 80%;
    }
    .containerImagesSection5Accueil {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .swiper-slide{
        min-width: 96%;
    }
    .limited-text {
        -webkit-line-clamp: 9; /* Nombre de lignes à afficher avant les points de suspension */
    }
}