
.containerHeaderAccueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-image-Accueil {
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/ressources/10 copie.png");
}

.section1Accueil {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--pink4);
}

.section2Accueil {
    background-color: var(--pink1);
}


.containerSection2Accueil {
    display: grid;
    /* row / col */
    grid-template: repeat(16, 4em) / repeat(10, 10%);
}

.element1Section2Accueil, .element2Section2Accueil, .element3Section2Accueil {
    gap: 3em;
    display: flex;
    align-items: center;
}

.element1Section2Accueil {
    grid-column: 3 / 9;
    grid-row: 2 / 4;
}

.element2Section2Accueil {
    grid-column: 3 / 9;
    grid-row: 5 / 13;
}

.element3Section2Accueil {
    grid-column: 3 / 9;
    grid-row: 14 / 16;
}

.imageDecoSection2Accueil {
    grid-column: 8 / 11;
    grid-row: 15 / 17;
}

.iconCheckbox {
    width: 40px;
    height: 40px;
}

.section3Accueil {
    display: flex;
    padding: 3em 0;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.containerSection4Accueil {
    display: flex;
    justify-content: space-between;
}
.containerImagesSection4Accueil {
    display: flex;
    justify-content: flex-end;
}
.containerIconAtelierPhone {
    gap: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.iconAtelier {
    height: 120px;
    width: 120px;
}

.section4Accueil {
    background-color: var(--pink1);
}

.section5Accueil {
    background-color: var(--pink2);
}

.containerSection5Accueil {
    display: flex;
    justify-content: space-between;
}

.containerTexteSection5Accueil {
    width: 60%;
}

.containerImagesSection5Accueil {
    width: 40%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.section6Accueil {
    background-color: var(--pink1);
}


@media (max-width: 991px) {
    .containerHeaderAccueil {
        justify-content: space-around;
    }
    .background-image {
        min-height: 80vh;
        background-image: url("../images/ressources/Version mobile.png");
    }

    .section1Accueil {
        gap: 5em;
        align-items: start;
        flex-direction: column;
    }

    .elementsSection1Phone {
        display: flex;
        align-items: center;
    }

    .mode-phone-section1Accueil {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .containerSection2Accueil {
        display: grid;
        /* row / col */
        grid-template: repeat(14, 10em) / repeat(10, 10%);
    }
    .element1Section2Accueil {
        grid-column: 1 / 11;
        grid-row: 2 / 4;
    }

    .element2Section2Accueil {
        grid-column: 1 / 11;
        grid-row: 4 / 12;
    }

    .element3Section2Accueil {
        grid-column: 1 / 11;
        grid-row: 12 / 14;
    }
    .imageDecoSection2Accueil {
        grid-column: 4 / 10;
        grid-row: 14 / 14;
    }
    .iconCheckbox {
        width: 50px;
        height: 50px;
    }

    .section3Accueil {
        gap: 5em;
        padding: 6em 0;
        flex-direction: column-reverse;
    }
    .section3AccueilTitres {
        gap: 3em;
        display: flex;
        flex-direction: column;
    }
    .containerSection4Accueil {
        flex-direction: column;
    }
    .containerImagesSection4Accueil {
        justify-content: center;
    }
    .containerSection5Accueil {
        align-items: center;
        justify-content: start;
        flex-direction: column-reverse;
    }
    .containerTexteSection5Accueil {
        width: 80%;
    }
    .containerImagesSection5Accueil {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
