/*  ################################################################################################  */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');
/*  ################################################################################################  */


/*  #########################################################  */
.logoIcon {background-image: url("../images/logos/icon.png");}

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

:root {
    --text-multiplier: 1;
    --icon-multiplier: 2;

    --white: #fff;
    --grey: #3C414F;

    --pink1: #FFF9FB;
    --pink2: #FFE5EC;
    --pink3: #FFD2DE;
    --pink4: #ee396a;
    --pink5: #C4234E;
}

.color-white {color: var(--white)}
.color-grey {color: var(--grey)}

.color-pink1 {color: var(--pink1);}
.color-pink2 {color: var(--pink2);}
.color-pink3 {color: var(--pink3);}
.color-pink4 {color: var(--pink4);}
.color-pink5 {color: var(--pink5);}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
}
/*  #########################################################  */


/*  ######  NAV BARRE + FOOTER  ######  */
.navbar {background-color: var(--pink2);height: 10vh}
.navbar{--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28238, 57, 106, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}

.footer {background-color: var(--grey);}

#logoNavBarre, #logoFooter {
    height: 6vh;
    width: 130px;
    background-image: url("../images/logos/logoNavBarre.png");
}
#logoFooter {background-image: url("../images/logos/logoFooter.png");}

.footer-link, .nav-link {
    user-select: none;
}

.contenueFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {color: var(--pink4);}
.nav-link:hover {color: var(--pink4);}
/*  ##################################  */

/*##########  RÉSEAUX  ##########*/
.arborescence {
    display: flex;
    padding: 1em 0;
    align-items: center;
    justify-content: space-between;
}
.reseaux {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputReseaux {
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    color: var(--pink4);
    align-items: center;
    justify-content: center;
    background-color: var(--pink1);
}
.bi-linkedin {
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*  ##################################  */

.ul,li,a {
    list-style: none;
    color: var(--white);
    text-decoration: none;
}

/*####  TAILLE POLICE ####*/
.icon {
    font-size: calc(1em * var(--icon-multiplier));
}
/**/
.punchline {
    display: flex;
    font-size: 4em;
}
h1 {
    font-size: calc(2.5em * var(--text-multiplier));
}
h2 {
    font-size: calc(2em * var(--text-multiplier));
}
h3 {
    font-size: calc(1.9em * var(--text-multiplier));
}
h4 {
    font-size: calc(1.4em * var(--text-multiplier));
}
h5 {
    font-size: calc(1.3em * var(--text-multiplier));
}
h6 {
    font-size: calc(1.2em * var(--text-multiplier));
}
p {
    font-size: calc(1.2em * var(--text-multiplier));
}

.titre-bold {font-weight: bold}
.titre-semibold {font-weight: 600}
.texte-regular {font-weight: normal}

.texte-surligner {
    padding: .5em;
    border-radius: 25px;
    background-color: var(--pink2);
}
.titre-surligner {
    padding: .5em;
    font-size: 1.4em;
    border-radius: 13px;
    background-color: var(--pink2);
}
.texte-end {text-align: end;}

.uppercase {text-transform: uppercase;}

/*  #########################################################  */
.footer-link {font-size: calc(1em * var(--text-multiplier));}
.txtFooterLink {font-size: calc(1em * var(--text-multiplier));}
.nav-link {font-size: calc(1.3em * var(--text-multiplier));}
/*  #########################################################  */

.imgBase {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.imgDecoration {
    width: auto;
    height: 150px;
}
.imgDecorationTitre {
    width: 110px;
    height: auto;
}

.imgComputerToPhone {
    width: 100%;
}

/*####  BTN  ####*/
.btn {
    font-weight: bold;
    font-size: calc(1.3em * var(--text-multiplier));
}
/***************************/
/* BOUTON 1 */
.bouton-blanc-appel-strategique {
    transition: .3s;
    padding: .5em 3em;
    color: var(--pink4);
    border-radius: 25rem;
    background-color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.bouton-blanc-appel-strategique:hover {
    color: var(--white);
    border-radius: 25rem;
    background-color: var(--pink5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/**/
/* BOUTON 2 */
.bouton-rose {
    transition: .3s;
    padding: .5em 3em;
    color: var(--pink1);
    border-radius: 25rem;
    background-color: var(--pink4);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.bouton-rose:hover {
    color: var(--pink1);
    border-radius: 25rem;
    background-color: var(--pink5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/**/
/* BOUTON 3 */
.btn-essayerLogiciel {
    border-radius: 25px;
    color: var(--pink1);
    background-color: var(--pink4);
    transition: 0.5s;
}
.btn-essayerLogiciel:hover {
    color: var(--pink1);
    background-color: var(--pink5);
}
/**/
/* BOUTON 4 */
.btn-carteProgrammeMonCoaching {
    transition: 0.5s;
    border-radius: 25px;
    color: var(--pink4);
    background-color: var(--white);
}
.btn-carteProgrammeMonCoaching:hover {
    color: var(--white);
    border: 1px solid var(--white);
    background-color: var(--pink5);
}
/**/
.imgIconTrustpilot {
    height: 1em;
    width: 1em;
    background-image: url("https://companieslogo.com/img/orig/TRST.L-5ada9c92.png?t=1663382464");
}

/*###############################################################################*/
/*###############################################################################*/
.bordure-top {padding-top: 2em;}
.bordure-bot {padding-bottom: 2em;}

.no-display-phone {display: block;}
.no-display-computer {display: none;}

.h-100vh {height: 100vh;}
.h-90vh {height: 90vh;}
.h-80vh {height: 80vh;}
.h-70vh {height: 70vh;}

.h-50vh {height: 50vh;}
.h-40vh {height: 40vh;}
.h-30vh {height: 30vh;}
.h-20vh {height: 20vh;}
.h-10vh {height: 10vh;}

.h-100p {height: 100%;}
.h-60p {height: 60%;}

.w-100p {width: 100%}
.w-90p {width: 90%}
.w-80p {width: 80%}
.w-70p {width: 70%}
.w-60p {width: 60%}
.w-50p {width: 50%}
.w-40p {width: 40%}
.w-20p {width: 20%}

/* Section Appel Stratégique */
.sectionAppelStrategique {
    background-color: var(--pink4);
}
.decoBoutonAccueil {
    height: 79px;
    width: 79px;
}

.border-circle {border-radius: 50%;}






/* Carrousel 1 */
.swiper {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    --swiper-navigation-color: var(--grey);
    --swiper-pagination-color: var(--grey);
}
.slideContainerVideos {
    height: 75vh;
}
.swiper-wrapper{
    width: 100%;
    display: flex;
    align-items: start;
}
.swiper-slide{
    min-width: 30%;
    height: 95vh;
    display: flex;
    min-height: 70%;
    max-height: 100%;
    margin-left: 1.8vw;
    margin-right: 1.8vw;
    border-radius: 25px;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
}
.slideVideo {
    height: 70vh;
}
.imgProfilAvis {
    width: 15vh;
    height: 15vh;
    margin-top: 15%;
    margin-bottom: 2vh;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.containerContentAvisAccueil {
    display: flex;
    justify-content: center;
}
.name{
    text-align: center;
    margin-bottom: 1.5em;
}
.content{
    width: 90%;
    text-align: center;
}
/*
.limited-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}
*/
/* fin Carrousel 1 */












/*###############################################################################*/
/*  RESPONSIVE  */
/*###############################################################################*/
@media (max-width: 991px) {
    :root {
        --text-multiplier: 2;
        --icon-multiplier: 4;
    }
    body {
        overflow-x: hidden;
    }
    /*  ######  NAV BARRE + FOOTER  ######  */
    #logoNavBarre, #logoFooter {
        height: 8vh;
        width: 260px;
    }
    .navbar-toggler {font-size: 4em;}
    .navbar {
        width: 100%;
        height: auto;
        z-index: 100;
        position: fixed;
    }

    .contenueFooter {
        gap: 70px;
        margin: 2em 0;
        flex-direction: column;
    }
    /*  ##################################  */
    /*##########  RÉSEAUX  ##########*/
    .reseaux {
        width: 80%;
        justify-content: space-around;
    }
    .inputReseaux {
        width: 120px;
        height: 120px;
    }
    .bi-linkedin {
        height: 50px;
    }
    /*  ##################################  */
    .texte-bold-phone {font-weight: bold}
    .texte-center-phone {text-align: center;}
    .texte-start-phone {text-align: start}
    .center-phone {
        display: flex;
        justify-content: center;
    }

    .btn {
        --bs-btn-padding-x:2.8rem;
    }
    .bouton-phone {
        width: 90%;
    }
    /* BOUTON 3 */
    .btn-essayerLogiciel {
        border-radius: 75px;
    }
    /**/
    .btn-carteProgrammeMonCoaching {
        border-radius: 75px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .col-4 {width: 80%;}
    .col-6 {width: 80%;}

    .bouton-blanc-appel-strategique {
        padding: .4em 2em;
        border-radius: 25rem;
    }

    .bordure-top {padding-top: 6em;}
    .bordure-bot {padding-bottom: 6em;}

    .no-display-phone {
        display: none;
    }
    .no-display-computer {
        display: block;
    }

    .imgDecoration {
        height: 250px;
    }

    .swiper {
        height: 75vh;
    }
    .swiper-slide{
        min-width: 96%;
    }
    .name{
        font-size: 2em;
    }

    .limited-text {
        -webkit-line-clamp: 9; /* Nombre de lignes à afficher avant les points de suspension */
    }
}
/*  ################################################################################################  */