

.headerMonCoaching {
    background-color: var(--pink1);
}
.containerHeaderMonCoaching {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgHeaderMonCoaching {
    height: 50vh;
    margin-left: 5em;
}
.titreHeaderMonCoaching {
    font-size: 3em;
}
.texteHeaderMonCoaching {
    font-size: 2em;
}



.containerTitreSection1MonCoaching {
    width: 100%;
    display: grid;
    /* row / col */
    grid-template: repeat(6, 1fr) / repeat(25, 1fr);
}
.containerContentTitreSection1MonCoaching {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-row: 1 / 7;
    grid-column: 1 / 26;
}
.imgDecorationTitreSection1MonCoaching {
    grid-row: 6 / 7;
    grid-column: 14 / 16;
}
.imageChatSection1MonCoaching {
    height: 38vh;
}


.containerContentCasesObjectifsImage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerCasesObjectifs {
    margin-left: 8em;
}
.caseObjectifs {
    width: 380px;
    display: flex;

    margin: 2em 1em;
    padding: 1em;

    border-radius: 15px;
    align-items: center;
    justify-content: start;
    background-color: var(--pink1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.caseObjectifsDecaler {
    margin-left: -8em;
}
.iconCheckboxMC {
    width: 60px;
    height: 60px;
}
.containerImageSection1MonCoaching {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}



.divImageSection2MonCoaching {
    width: 70%;
}
.containerSection2MonCoaching {
    padding: 4em;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    background-color: var(--pink1);
}
.containerContentSection2MonCoaching {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containerTexteSection2MonCoaching {
    gap: 1em;
    display: flex;
    flex-direction: column;
}


.containerTitreSection3MonCoaching {
    display: flex;
    align-items: center;
}
.containerSection3MonCoaching {
    width: 100%;
    display: grid;
    /* row / col */
    grid-template: repeat(16, 1fr) / repeat(30, 1fr);
}
.imageSection3GridMonCoaching {
    grid-row: 5 / 13;
    grid-column: 1 / 31;
}
.carteProgrammeSection3MonCoaching {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.carteProgramme1 {
    margin-top: -.5em;
    grid-row: 12 / 15;
    grid-column: 3 / 8;
}
.carteProgramme2 {
    margin-top: -.5em;
    grid-row: 3 / 6;
    grid-column: 7 / 12;
}
.carteProgramme3 {
    margin-top: -.5em;
    margin-left: 2.5em;
    grid-row: 12 / 15;
    grid-column: 10 / 15;
}
.carteProgramme4 {
    margin-top: -.5em;
    grid-row: 3 / 6;
    grid-column: 14 / 18;
}
.carteProgramme5 {
    margin-top: -.5em;
    grid-row: 12 / 15;
    grid-column: 17 / 22;
}
.carteProgramme6 {
    margin-top: -.5em;
    grid-row: 3 / 6;
    grid-column: 20 / 27;
}
.carteProgramme7 {
    margin-top: -.5em;
    margin-left: 1.5em;
    grid-row: 12 / 16;
    grid-column: 23 / 30;
}

.titre-decorer-Section3MonCoaching {
    padding: .5em;
    border-radius: 13px;
    background-color: var(--pink4);
}





.section4MonCoaching {
    background-color: var(--pink2);
}
.containerSection4MonCoaching {
    width: 100%;
    display: grid;
    /* row / col */
    grid-template: repeat(17, 1fr) / repeat(30, 1fr);
}
.containerTitreSection4MonCoaching {
    grid-row: 1 / 5;
    grid-column: 1 / 31;
    gap: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.containerContentSection4MonCoaching {
    grid-row: 6 / 15;
    grid-column: 1 / 31;
    gap: 5em;
    display: flex;
    justify-content: center;
}
.containerCarteProgrammeSection4MonCoaching {
    z-index: 5;
    width: 30%;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--pink4);
}
.titreCarteProgrammeSection4MonCoaching {
    margin-top: -2.5em;
    background-color: var(--white);
}
.containerBoutonSection4MonCoaching {
    grid-row: 16 / 17;
    grid-column: 1 / 31;
    display: flex;
    justify-content: center;
}
.etoileSection4MonCoaching {
    width: 300px;
    height: 300px;
    grid-row: 1 / 9;
    grid-column: 2 / 4;
}
.flecheSection4MonCoaching {
    z-index: 0;
    width: 400px;
    height: 400px;
    grid-row: 9 / 17;
    grid-column: 22 / 31;
}


.section5MonCoaching {
    background-color: var(--pink1);
}
.containerSection5MonCoaching {
    width: 100%;
    display: grid;
    /* row / col */
    grid-template: repeat(16, 1fr) / repeat(30, 1fr);
}
.containerContentSection5MonCoaching {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1 / 11;
    grid-column: 1 / 31;
}
.containerTitreSection5 {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.decorationTitreSection5MonCoaching {
    grid-row: 8 / 9;
    grid-column: 4 / 6;
}
.containerBoutonSection5MonCoaching {
    grid-row: 12 / 14;
    grid-column: 1 / 14;
}
.decorationChatSection5MonCoaching {
    z-index: 7;
    width: 300px;
    height: 300px;
    grid-row: 5 / 17;
    grid-column: 28 / 31;
    transform: scaleX(-1);
}
.containerContentVersementSection5MonCoaching {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* BOUTON Toggle 1x / 4x versement Section5PageRessources */
input {
    display: none;
}
.buttonToggleSection5PageMonCoaching {
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    border-radius: 200px;
    background-color: var(--pink2);
}
.buttonToggleSection5PageMonCoaching::before {
    content: '';
    width: 30px;
    margin: 5px;
    height: 30px;
    transition: 0.3s;
    position: absolute;
    border-radius: 200px;
    background-color: #EE396AFF;
}
input:checked + .buttonToggleSection5PageMonCoaching {
    background-color: var(--pink2);
}
input:checked + .buttonToggleSection5PageMonCoaching::before {
    transform: translateX(60px);
}
/* FIN BOUTON Toggle 1x / 4x versement Section5PageRessources */
/* Carte versement Section 5 Page Mon Coaching */
.containerCarteVersementMonCoaching {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carteVersementMonCoaching {
    gap: .8em;
    width: 45%;
    display: flex;
    padding: 2em 1em;
    align-items: start;
    color: var(--pink4);
    border-radius: 25px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--pink2);
}
.carteVersement4MonCoaching {
    margin-right: -5em;
}
.sepaCarteVersement4MonCoaching, .sepaCarteVersement1MonCoaching{
    width: 80%;
    height: 2px;
    background-color: var(--pink3);
}
.sepaCarteVersementMonCoachingSelected {
    background-color: var(--pink5);
}
.carteVersementMonCoachingSelected {
    z-index: 5;
    color: var(--pink2);
    padding: 2em 1em;
    height: calc(100% + 10px);
    background-color: var(--pink4);
}
/* FIN Carte versement Section 5 Page Mon Coaching */




.containerGridSection6MonCoaching {
    width: 100%;
    display: grid;
    /* row / col */
    grid-template: repeat(20, 1fr) / repeat(32, 1fr);
}
.containerSection6MonCoaching {
    grid-row: 4 / 21;
    grid-column: 1 / 31;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.decorationSection6MonCoaching {
    width: 100px;
    height: 100px;
    grid-row: 1 / 6;
    grid-column: 31 / 33;
}
.containerContentSection6MonCoaching {
    gap: 3em;
    display: flex;
    flex-direction: column;
}
.chiffresSection6MonCoaching {
    font-size: 3em;
}
/* CARROUSEL */
.containerContentAvisSection6MonCoaching {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.carteTemoignage {
    width: 90%;
    height: 27em;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    background-color: var(--pink2);
}
.carousel {
    height: 100%;
    width: 100%;
    border-radius: 25px;
}
.txtContentAvis {
    width: 180%;
    height: 15em;
    color: var(--grey);
    overflow: auto;
}
.carousel-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.carousel-caption {
    left: 14%;
    width: 73%;
    bottom: -0.8rem;
    display: flex;
    flex-direction: column;
}
.carousel-item {
    height: 100%;
    width: 100%;
}
.imgProfil {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
}
.carousel-control-prev {
    left: -60px;
}
.carousel-control-next {
    left: 523px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    padding: .2em;
    border-radius: 25px;
    background-image: url("../images/ressources/40.png");
}
.carousel-indicators {
    gap: .5em;
    top: 440px;
}
.carousel-indicators > button[data-bs-target="#carouselExampleCaptions"] {
    width: 0;
    height: 0;
    border: none;
    padding: .5em;
    border-radius: 50%;
    background-color: var(--pink4);
}
/* FIN CARROUSEL */




.accordion {
    gap: 2em;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.contentElementAccordion {
    width: 75%;
}
.labelElementAccordion {
    gap: 5em;
    display: flex;
    cursor: pointer;
    padding: .8em 2em;
    border-radius: 25px;
    align-items: center;
    justify-content: start;
    background-color: var(--pink2);
}
.titreLabelElementAccordion {
    color: var(--pink4);
    user-select: none;
}
.iconFlecheAccordion {
    width: 40px;
    height: 40px;
    background-image: url("../images/ressources/accordion.png");
}
.contentTexteElementAccordion {
    height: 0;
    width: 95%;
    margin: auto;
    display: flex;
    overflow: hidden;
    justify-content: start;
}

.accordion .contentElementAccordion .contentTexteElementAccordion {
    transition: .5s;
}

.contentAccordionActive {
    border-radius: 25px;
    background-color: var(--pink2);
}
.contentAccordionActive > .labelElementAccordion {
    background-color: var(--pink4);
}
.contentAccordionActive > .labelElementAccordion > .containerFleche> .iconFlecheAccordion {
    background-image: url("../images/ressources/accordionActive.png");
}
.contentAccordionActive > .labelElementAccordion > .titreLabelElementAccordion {
    color: var(--pink2);
}
.contentElementAccordionActive {
    height: calc(180px);
    overflow: hidden;
}




@media (max-width: 991px) {

    .containerHeaderMonCoaching {
        height: auto;
        flex-direction: column-reverse;
    }
    .containerHeaderTexteMonCoaching {
        width: 100%;
        display: flex;
        color: var(--pink1);
        align-items: center;
        flex-direction: column;
        background-color: var(--pink4);
    }
    .imgHeaderMonCoaching {
        margin: 0;
        margin-top: 9em;
        width: 100%;
        height: auto;
    }


    .containerContentCasesObjectifsImage {
        width: 94%;
        margin: auto;
        margin-top: 4em;
        justify-content: space-between;
    }
    .containerCasesObjectifs {
        width: 50%;
        margin: 0;
    }
    .imgDecorationTitreSection1MonCoaching {
        grid-row: 7 / 9;
        grid-column: 9 / 16;
    }
    .caseObjectifs {
        height: 157px;
        width: auto;
        margin: 3em 0;
        padding: 1em 1em;
    }
    .caseObjectifsDecaler {
        margin-left: 0;
    }
    .iconCheckboxMC {
       margin-right: 1em;
    }
    .containerImageSection1MonCoaching {
        justify-content: end;
    }
    .imageChatSection1MonCoaching {
        height: 16vh;
        width: auto;
    }




    .divImageSection2MonCoaching {
        width: 100%;
    }
    .containerContentSection2MonCoaching {
        flex-direction: column-reverse;
    }
    .containerTexteSection2MonCoaching {
        gap: 3em;
        width: 85%;
    }

    .containerTitreSection3MonCoaching {
        display: flex;
        align-items: center;
        flex-direction: column;
    }





    .containerSection4MonCoaching {
        gap: 4em;
        display: flex;
        flex-direction: column;
    }
    .containerContentSection4MonCoaching {
        gap: 9em;
        margin-top: 3em;
        align-items: center;
        flex-direction: column;
    }
    .containerCarteProgrammeSection4MonCoaching {
        width: 80%;
    }
    .titreCarteProgrammeSection4MonCoaching {
        font-size: 2.4em;
    }






    .containerSection5MonCoaching {
        display: block;
    }
    .containerContentSection5MonCoaching {
        margin-top: 5em;
        flex-direction: column;
    }
    .containerTitreSection5 {
        width: 90%;
    }
    .containerContentVersementSection5MonCoaching {
        width: 100%;
        margin-top: 5em;
        flex-direction: row;
    }
    /* BOUTON Toggle 1x / 4x versement Section5PageRessources */
    .buttonToggleSection5PageMonCoaching {
        width: 150px;
        height: 60px;
    }
    .buttonToggleSection5PageMonCoaching::before {
        width: 40px;
        margin: 10px;
        height: 40px;
    }
    input:checked + .buttonToggleSection5PageMonCoaching::before {
        transform: translateX(90px);
    }
    /* FIN BOUTON Toggle 1x / 4x versement Section5PageRessources */
    .containerCarteVersementMonCoaching {
        width: 90%;
        flex-direction: column;
    }
    .carteVersementMonCoaching {
        width: 100%;
        padding: 3em 4em;
    }
    .carteVersement4MonCoaching {
        z-index: 5;
        margin-right: 0;
        margin-bottom: -2em;
    }


    .carteTemoignage {
        height: 64em;
    }
    .containerGridSection6MonCoaching {
        display: block;
    }
    .chiffresSection6MonCoaching {
        font-size: 6em;
    }
    .containerSection6MonCoaching {
        gap: 4em;
        align-items: center;
        flex-direction: column;
    }
    .containerContentSection6MonCoaching {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .txtContentAvis {
        height: 19em;
    }
    .containerContentAvisSection6MonCoaching {
        width: 100%;
        justify-content: center;
    }
    .carousel-control-prev {
        left: -73px;
    }
    .carousel-control-next {
        left: 805px;
    }
    .carousel-indicators {
        gap: 1.5em;
        top: 1050px;
    }
    .carousel-caption {
        bottom: -0.6rem;
    }
    .contentElementAccordion {
        width: 96%;
    }
    .imgProfil {
        height: 200px;
        width: 200px;
    }
    .carousel-indicators > button[data-bs-target="#carouselExampleCaptions"] {
        padding: 1em;
    }
    .contentElementAccordionActive {
        height: calc(480px);
    }
}