

.background-image-Ressources {
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/ressources/39.png");
}
.containerHeaderRessources {
    gap: 3em;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.titreHeaderRessources {
    font-weight: bold;
    color: var(--pink2);
    text-transform: uppercase;
}
.titre-souligner {
    height: 5px;
    width: 80%;
    background-color: var(--pink2);
}

/* BOUTON Toggle Outils / Experts HomePageRessources,  Toggle versement 1x/4x section5PageMonCoaching*/
#txtOutils, #txtExpert {
    transition: .3s;
}
input {
    display: none;
}
.txtActiveToggleButton {
    color: var(--pink4);
}
.buttonToggleHomePageRessources {
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    border-radius: 200px;
    background-color: var(--pink2);
}
.buttonToggleHomePageRessources::before {
    content: '';
    width: 30px;
    margin: 5px;
    height: 30px;
    transition: 0.3s;
    position: absolute;
    border-radius: 200px;
    background-color: #EE396AFF;
}
input:checked + .buttonToggleHomePageRessources {
    background-color: var(--pink2);
}
input:checked + .buttonToggleHomePageRessources::before {
    transform: translateX(60px);
}
/* FIN BOUTON Toggle Outils / Experts HomePageRessources */


.section1Ressources {
    margin-top: -8em;
    display: flex;
    justify-content: center;
}
.containerSection1Ressources {
    width: 80%;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    background-color: var(--pink2);
}


.containerSection2Ressources {
    gap: 4em;
    display: flex;
    flex-direction: column;
}

.carteOutilPageRessources, .carteExpertPageRessources {
    display: flex;
    justify-content: center;
}
.containerCarteLeftOutilPageRessources, .containerCarteRightOutilPageRessources {
    padding: 1em;
    display: flex;
    align-items: center;
    border-radius: 25px;
    justify-content: space-between;
    background-color: var(--pink1);
}


.carteRightExpert {
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.inputImgProfessionnel {
    width: 150px;
    height: 150px;
    background-color: var(--white);
}

.containerCarteLeftExpertPageRessources, .containerCarteRightExpertPageRessources {
    display: flex;
    align-items: center;
    border-radius: 25px;
    justify-content: space-between;
    background-color: var(--pink1);
}
.containerBoutonCarteRight, .containerBoutonCarteLeft {
    display: flex;
}
.containerBoutonCarteRight {
    justify-content: end;
}





@media (max-width: 991px) {

    .background-image-Ressources {
        height: 50vh;
    }

    .titreHeaderRessources {
        color: var(--pink4);
    }
    .titre-souligner {
        width: 120%;
    }
    /* BOUTON Toggle Outils / Experts HomePageRessources */
    .buttonToggleHomePageRessources {
        width: 150px;
        height: 60px;
    }
    .buttonToggleHomePageRessources::before {
        width: 40px;
        margin: 10px;
        height: 40px;
    }
    input:checked + .buttonToggleHomePageRessources::before {
        transform: translateX(90px);
    }
    /* FIN BOUTON Toggle Outils / Experts HomePageRessources */
    .containerSection1Ressources {
        width: 95%;
    }


    .containerCarteLeftOutilPageRessources {
        gap: 3em;
        flex-direction: column-reverse;
    }
    .containerCarteRightOutilPageRessources {
        gap: 3em;
        flex-direction: column;
    }


    .carteExpertPageRessources {
        margin-top: 4em;
    }
    .carteRightExpert {
        justify-content: center;
    }
    .inputImgProfessionnel {
        width: 150px;
        height: 150px;
        background-color: var(--white);
    }
    .containerCarteLeftExpertPageRessources, .containerCarteRightExpertPageRessources {
        gap: 3em;
        flex-direction: column;
    }
    .containerCarteRightExpertPageRessources {
        flex-direction: column-reverse;
    }
    .containerBoutonCarteRight, .containerBoutonCarteLeft {
        margin-top: 3em;
        justify-content: center;
    }
}